
.App {
  text-align: center;
  color: black;
}

a {
  color: rgb(177, 109, 6);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}

.stack-img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.item {
    padding: 30px;
    border: 1px solid rgb(24, 23, 23);
    position: relative;  
    overflow: hidden;
}  

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: rgb(24, 23, 23);
  opacity: .9;
}

.item:hover .overlay {
  opacity: 0.9;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container {
      flex-direction: column;
      display: block;
  }
  body {
      background-color: burlywood;
  }
} 
